@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100vh;
    background-image: url("../images/topazbg.jpg");
    background-size: cover;
    background-position: 40%;
    color: white;
}

.site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 250px;
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topaz {
    height: 200px;
}

.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.1;
}

.credit {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    text-shadow: black 1px 0 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
}

.header {
    background-color: #080a17;
    height: 30vh;
    display: flex;
    align-items: center;
}

.header-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
    width: 85%;
    padding-left: 60px;
}

.form {
    background-color: #0e1027;
    height: 40vh;
}

.footer {
    background-color: #080a17;
    height: 30vh;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: "DM Sans", serif;
}
