@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100vh;
    background-image: url("../images/topazbg.jpg");
    background-color: #080a17;
    background-size: cover;
    background-position: 40%;
}

.site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 250px;
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topaz {
    height: 200px;
}

.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.1;
}

.credit {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    text-shadow: black 1px 0 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
}

.header {
    background-color: #080a17;
    height: 30vh;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 28px;
    font-weight: bold;
    width: 85%;
    padding-left: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0e1027;
    height: 35vh;
}

.form-div-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-div-content, .footer-div-content {
    padding: 30px 50px;
}

.form-header {
    font-size: 36px;
    font-weight: bold;
}

.form-inputs {
    display: flex;
    gap: 100px;
}

.form-left-column, .form-right-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    background-color: #080a17;
    height: 35vh;
}

.submit-button {
    font-family: "DM Sans", serif;
    font-size: 20px;
    color: white;
    background-color: #d62253;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 40px;
    margin-bottom: 20px;
    transition-duration: 0.1s;
}

.submit-button:hover {
    border-color: #d62253;
    background-color: #96183a;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: "DM Sans", serif;
    color: white;
}

form input {
    width: 300px;
    height: 30px;
    font-family: "DM Sans", serif;
    background-color: #3e4052;
    border: 2px solid #878893;
    border-radius: 2px;
    color: white;
}

form input, form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input:invalid {
    border-color: red;
}

form input:valid {
    border-color: #878893;
}

a {
    font-weight: bold;
    color: #d62253;
    text-decoration: none;
}